{% extends "tracker/layout.html" %}

{% load static %}

{% block body %}

    <div class="container mt-4">
        <h2 class="mb-4 text-center">Search Users to Add as Friends</h2>
        <div class="text-center mb-4">
            <a href="{% url 'friends_list' %}">
                <button class="btn btn-outline-secondary">My Friends</button>
            </a>
        </div>

        <form method="get" class="mb-4 d-flex justify-content-center">
            <input type="text" name="q" placeholder="Search by username or email" value="{{ query|default:''}}" class="form-control w-50 mr-2">
            <button type="submit" class="btn btn-primary">Search</button>
        </form>

        <hr>

        {% if users %}
            <div class="row">
                {% for user in users %}
                    <div class="col-md-4 mb-4">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <a href="{% url 'profile_view' user.username %}">
                                    <h5 class="card-title">{{ user.username }}</h5>
                                </a>
                                
                                <p class="card-text">{{ user.email }}</p>
                                <form action="{% url 'send_friend_request' user.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary btn-sm">Send Friend Request</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% elif query %}
            <div class="alert alert-info text-center" role="alert">
                No users found for {{query}}
            </div>
        {% endif %}
    </div>
{% endblock %}