{% extends "tracker/layout.html" %}

{% block body %}

    <h2>Your Habits</h2>
    <a href="{% url 'create_habit' %}">Create Habit</a>
    <ul>
        {% for item in habit_data %}
            <li>
                <h3>
                    <a href="{% url 'habit_detail' item.habit.id %}">{{ item.habit.name }}</a>
                </h3>
                <br>
                Current Streak: {{ item.current_streak }}
                <br>
                Longest Streak: {{ item.longest_streak }}
                <br>
                Today's Progress:
                {% if item.today_done %}
                    ✅
                {% else %}
                    ❌
                {% endif %}
            </li>
        {% endfor %}
    </ul>

{% endblock %}